:root {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

.container {
  background: lightgrey;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  overflow-x:hidden;
  touch-action: pan-x;
  position: relative;
  padding-bottom: 2rem;
}

.slide {
  width: 100%;
  flex: none;
  transition: none;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  display: none;
}

.animation-next .slide,
.animation-prev .slide {
  transition: transform .6s ease;
}

.slide.current, .slide.next, .slide.prev {
  display: flex;
}

.slide.prev {
  order: 0;
  margin-left: -100%;
}

.slide.current {
  order: 1;
}

.slide.next {
  order: 2;
}

.animate-next {
  transform: translateX(-100%);
}

.animate-prev {
  transform: translateX(100%);
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin:0;
  padding:0;
}

.indicators a {
  color: goldenrod;
}

.indicators a:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid;
  margin: 0 5px;
  border-radius: 50%;
}

.indicators a.current:before {
  background: goldenrod;
}

.controls {
  position: absolute;
  height: calc(100% - 2rem);
  width: 100%;
  display: flex;
}

.controls a {
  width: 50%;
  font-size: 5rem;
  color: transparent;
  align-items: center;
  text-decoration: none;
  display: flex;
  transition: all .25s
}

.controls a:hover {
  color: white;
}

.controls a.prev {
  padding-left: 1rem;
}

.controls a.next {
  text-align:right;
  justify-content: flex-end;
  padding-right: 1rem;
}

.s1 {
  background: red;
}

.s2 {
  background: green;
}

.s3 {
  background: blue;
}

.s4 {
  background: hotpink;
}